<%= form_with(model: tweeter, local: true) do |form| %>
  <% if tweeter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweeter.errors.count, "error") %> prohibited this tweeter from being saved:</h2>

      <ul>
      <% tweeter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
<div class="row">
  <div class="col-md-8">

  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_area :message, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>

  </div>
  </div>
  </div>
  <div class="col-md-4"></div>



  <div class="actions">
    <%= form.submit "Tweeter It!", class: "btn btn-primary" %>
  </div>
    </div>
<% end %>
