<div class="container">

  <div class="row">
    <div class="col-md-12"></div>

<h1>@<%= @user.username %>'s Profile & Tweets</h1>
  </div>

  <div class="row">
    <div class="col-sm-6"></div>
      <div class="panel panel-default">

        <div class="panel-heading">
<div><%= @user.name %></div>
<div><%= @user.location %></div>
<div><%= @user.bio %></div>
    </tr>
</div>

  <div class="panel-body">

  <% if current_user.following.include?(@user.id) %>
    <%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-danger", id: "unfollow_btn" %>
  <% else %>
    <% if current_user.id != @user.id %>
      <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
    <% end %>
  <% end %>
  </div>


<% @user.tweeters.each do |tweet| %>
  <div class="row">
    <div class="col-sm-6"></div>
      <div class="panel panel-default">
  <div>
    <p>@<%= @user.username %></p>
    <p>@<%= tweet.message %></p>
  </div>
    </div>

  </div>
<% end %>

  </div>
  </div>
